.text-black{
    color: #000;
}
/* login page */
.login-page_wrapper{
    background: #FFF;
    height: 100vh;
}
.login-page_wrapper .carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 100px 100px;
    filter: brightness(0.95);
}
.login-content_wrapper{
    max-width: 452px;
}
.login_page_input-group{
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    width: 100%;
    height: 48px;
    flex-shrink: 0;
    color: #ADADAD;
    max-width: 352px;

    
}
.login_page_carousel-text{
    color: #E1E1E1;
}
.login-item-text{
    width: 650px;
    color: #8A8A8A;
    font-weight: 400;
    line-height: 192.761%; /* 28.914px */
}
@media (min-width:992px) {
    .login-page_wrapper .carousel img{
        min-height: 100vh;
        height: 100%;
        object-fit: cover;
        border-radius: 0px 100px 100px 0px;
    }
}
.login-button,.login-button:hover{
    border-radius: 4.264px;
    background: #F78D1E;
    color: #fff;
    width: 100%;
    max-width: 352px;
    font-weight: 600;
    height: 52.237px;
}
.carousel-control-prev,.carousel-control-next{
    display: none;
}